%btn-goldstage {
    font-size: 1.2em;
    font-family: $font-alice;
    color: $color-gold-shadow;
    min-width: 8em;
    padding: .2em 1em .2em 1em;
    background-color: rgba(255, 200, 60, 0.6);
    border: none;
    outline: none;

    > a {
        display: block;
        text-align: center;
        font-size: 1.2em;
        text-decoration: none;
        color: $color-gold-shadow;

        &:hover {
            text-decoration: none;
        }
    }

    &:disabled {
        background-color:  rgba(255, 200, 60, 0.3);
        color: gray; 
    }

    &:active {
        background-color: rgba(255, 200, 60, 0.9);
    }
}


%form-goldstage {
    fieldset {
        padding-left: 0;
        border: none;
        label {
            font-size: 1.2em;
        }
        input {
            margin-top: .2em;
            padding: .2em;
            font-size: $paragraph-text-size;
            font-family: $font-alice;

            // material date picker creates this property
            // we want date picker input to be this wide
            &[ng-reflect-mat-datepicker] {
                width: 5em;
            }
        }
        select {
            margin-top: .2em;
            padding: .2em;
            font-size: $paragraph-text-size;
            font-family: $font-alice;
        }
        textarea {
            margin-top: .2em;
            padding: .2em;
            font-size: $paragraph-text-size;
            width: 100%;
            height: ($paragraph-text-size * 6) + (.2em * 2) + 0.125em; // + padding + border
        }
    }
    button {
        @extend %btn-goldstage;
    }    
}