/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css?family=Abel|Cinzel|Cormorant+Garamond|Old+Standard+TT|Playfair+Display|Playfair+Display+SC');
// TODO: Couldn't figure a way to lazy load this specifically for the admin module
@import "../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: $font-cormorant;
    background: linear-gradient(rgba(255, 245, 238, 0.8), rgba(255, 245, 238, 0.99)), url('../../src/assets/images/ballerina01.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
}

h1 {
    margin-top: 0;
}

header {
    padding-top: .6em;
    padding-bottom: .6em;
    background: linear-gradient(rgba(255, 245, 238, 0.2), rgba(255, 245, 238, 0.2)), url('../../src/assets/images/stage.png');
    background-size: cover;
    h1 {
        color: goldenrod;
        text-shadow: 2px 2px $color-gold-shadow;
        font-size: 3em;
        font-family: $font-cinzel;
    }
    p {
        color: $color-light;
        text-shadow: 1px 1px black;
        font-size: $paragraph-text-size;
    }
    nav {
        ul {
            list-style-type: none;
            > li {
                @extend %btn-goldstage;
                margin: .2em;
                float: right;
            }
        }
    }
}

.dark-text-board {
    //padding: 2em;
    background: rgba(26, 22, 16, 0.8);
}

.wrapper {
    margin: auto;
    width: 90%;
    max-width: 960px;
}