$color-background: seashell;
$color-gold:  rgb(177, 127, 0);
$color-gold-dirty: rgb(78, 68, 11);
$color-gold-shadow: rgb(53, 22, 0);

$paragraph-text-size: 1.2em;
$section-header-size: 2.4em;

$font-alice: 'Alice', serif;
