$color-background: seashell;
$color-light: rgb(206, 196, 171);
$color-gold:  rgb(177, 127, 0);
$color-gold-dirty: rgb(78, 68, 11);
$color-gold-shadow: rgb(53, 22, 0);

$home-logo-text-size: 3.4em;
$home-event-title-size: 2.2em;
$home-paragraph-text-size: 1.6em;
$home-section-header-size: 2.8em;

$paragraph-text-size: 1.2em;
$section-header-size: 2.4em;

$font-alice: 'Alice', serif;
