@import '~sass/variables';
@import '~sass/mixins';

form {
    fieldset {
        padding-left: 0;
        border: none;
        label {
            font-size: 1.2em;
        }
        input {
            margin-top: .2em;
            padding: .2em;
            font-size: 1.2em;
            font-family: $font-alice;
        }
    }
    button[type='submit'] {
        @extend %btn-goldstage;
    }
}

section {
    margin-top: 4em;
    margin-bottom: 4em;
}