<header>
  <div class="wrapper dark-text-board">
    <h1>Stage event form</h1>
  </div>
</header>

<section>
  <div class="wrapper">
    <form [formGroup]="eventForm">
      <fieldset>
        <label for="title">Event title:</label><br/>
        <input name="title" id="title" formControlName="title" type="text" />
      </fieldset>
      <fieldset>
        <label for="date">Event date:</label><br/>
        <input name="date" id="date" formControlName="date" [matDatepicker]="eventDatePicker">
        <mat-datepicker-toggle [for]="eventDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #eventDatePicker></mat-datepicker>
      </fieldset>
      <fieldset>
        <label for="shortDescription">Short description:</label><br/>
        <textarea name="shortDescription" id="shortDescription" formControlName="shortDescription"></textarea>
      </fieldset>
      <fieldset>
        <label for="fullDescription">Full description:</label><br/>
        <textarea name="fullDescription" id="fullDescription" formControlName="fullDescription"></textarea>
      </fieldset>
      <fieldset>
        <label for="location">Event location:</label><br/>
        <input name="location" id="location" formControlName="location" type="text" />
      </fieldset>
      <div class="background-image-input-section">
        <div class="background-input">
          <fieldset>
            <label for="bannerBackground">Event background image:</label><br/>
            <input name="bannerBackground" id="bannerBackground" formControlName="bannerBackground" type="text" />
          </fieldset>
        </div>
        <div class="background-image">
          <img [src]="eventForm.value.bannerBackground" />
        </div>
      </div>
      <fieldset>
        <label>Pictures:</label><br/>
        <div formArrayName="pictures" class="event-pictures">
          <div *ngFor="let picture of getPictureControls(); let i = index" [formGroupName]="i" >
            <input name="url" formControlName="url" type="hidden" />
            <img [src]="picture.value.url" /><br/>
            <button (click)="onRemovePicture(i)">Remove</button>
          </div>
        </div>
        <div class="add-picture-box">
          <div><input type="text" #pictureUrl /></div>
          <div><button (click)="onAddPicture(pictureUrl.value)">Add</button></div>
        </div>
      </fieldset>
      <div class="price-input-section">
        <div class="minimum">
          <fieldset>
            <label for="minTicketPrice">Minimum ticket price:</label><br/>
            <input name="minTicketPrice" id="minTicketPrice" formControlName="minTicketPrice" type="number" />
          </fieldset>
        </div>
        <div class="maximum">
          <fieldset>
            <label for="maxTicketPrice">Maximum ticket price:</label><br/>
            <input name="maxTicketPrice" id="maxTicketPrice" formControlName="maxTicketPrice" type="number" />
          </fieldset>
        </div>
      </div>
      <fieldset>
        <label for="eventType">Event type:</label><br/>
        <select name="eventType" id="eventType" formControlName="eventType">
          <option value="ballet">Ballet Performance</option>
          <option value="music">Live Music</option>
        </select>
      </fieldset>
      <br/>
      <br/>
      <button [disabled]="!eventForm.dirty" (click)="onSave()">Save</button>
      <button [routerLink]="['/admin','events']">Cancel</button>
    </form>
  </div>
</section>
