@import '~sass/variables';
@import '~sass/mixins';

form {
    @extend %form-goldstage;

    input {
        width: 100%;
    }
}

section {
    margin-top: 4em;
    margin-bottom: 4em;
}

DIV.background-image-input-section {

    DIV.background-input {
        display: inline-block;
        width: 70%;

        fieldset {
            display: block;
        }

    }

    DIV.background-image {
        display: inline-block;
        width: 28%;

        img {
            max-height: 8em;
            width: 100%;
            vertical-align: middle;
            object-fit: cover;
        }
    }

}

DIV.price-input-section {
    DIV.minimum {
        display: inline-block;
        min-width: 10em;
        width: 22%;

    }

    DIV.maximum {
        display: inline-block;
        min-width: 10em;
        width: 22%;

    }
}

div.event-pictures {
    div {
        display: inline-block;
        margin: .2em;

        img {
            max-height: 6em;
        }

        button {
            min-width: unset;
            width: 100%;
            font-size: .8em;
            
        }
    }
}

div.add-picture-box {

    div {
        display: inline-block;

        &:first-child {
            width: 70%;
        }
        &:last-child {
            width: 25%;
            min-width: 5em;

            button {
                margin-left: 1em;
                min-width: unset;
            }
        }
    }
}
