<header>
  <div class="wrapper dark-text-board">
    <h1>Events administration</h1>
    <nav>
      <ul>
        <li>
          <a [routerLink]="['/admin', 'event', 'new']">New event</a>
        </li>
      </ul>
      <div style="clear: both;"></div>
    </nav>
  </div>
</header>

<section *ngFor="let stageEvent of events" [ngStyle]="sectionBackground(stageEvent)">
  <div class="wrapper">
      <img [src]="stageEvent.pictures[0]" [alt]="stageEvent.title" *ngIf="stageEvent.pictures.length > 0" />
      <h1>{{ stageEvent.title }}</h1>
      <p>{{ stageEvent.shortDescription }}</p>
      <button (click)="deleteEvent(stageEvent.id)">Delete</button>
      <button (click)="editEvent(stageEvent.id)">Edit</button>
      <div style="clear: both"></div>
  </div>
</section>

<section class="powered-by">
  <div>
    <img alt="NodeJs" src="../../assets/images/nodejs.svg"/>
    <img alt="Angular" src="../../assets/images/angular.svg"/>
    <img alt="Sass" src="../../assets/images/sass.svg"/>
    <!--<img alt="PostgreSQL" src="../../assets/images/postgres.svg"/>-->
  </div>
</section>