<header>
  <div class="wrapper dark-text-board">
    <h1>{{ title }}</h1>
    <p>Minim quinoa magna mustache. Thundercats voluptate listicle beard. Ramps affogato veniam seitan. Blog ullamco thundercats williamsburg. Intelligentsia truffaut vegan tumblr proident gentrify tofu meditation fanny pack. Pariatur shoreditch fashion axe blue bottle pork belly, offal snackwave aliquip incididunt vinyl bushwick next level master cleanse direct trade.</p>
    <!--
    <p>Swag food truck try-hard vegan before they sold out celiac snackwave bespoke gentrify. Letterpress cornhole aliqua succulents pok pok authentic dolore single-origin coffee helvetica velit laborum vexillologist. Chia vegan fam normcore fixie nulla. Pug bushwick direct trade vexillologist vegan blue bottle umami. Lyft gochujang ennui et chartreuse before they sold out, shaman raclette pitchfork nisi selvage dolore godard hot chicken poke. Aliqua pok pok veniam VHS. Velit aliquip la croix gentrify yuccie.</p>
    -->
    <nav>
      <!--
        <img alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      -->
      <ul>
        <li><a href="#about" (click)="onNavClick('about')">About</a></li>
        <li><a href="#contacts" (click)="onNavClick('contacts')">Contacts</a></li>
        <li *ngIf="musicEvents.length > 0"><a href="#life-shows" (click)="onNavClick('life-shows')">Live Shows</a></li>
        <li *ngIf="balletEvents.length > 0"><a href="#performances" (click)="onNavClick('performances')">Performances</a></li>
      </ul>
      <div style="clear: both;"></div>
    </nav>
  </div>
</header>

<section *ngIf="balletEvents.length > 0">
  <a name="performances">
    <app-event-slider title="Ballet Performance" [events]="balletEvents"></app-event-slider>
  </a>
</section>

<section *ngIf="musicEvents.length > 0">
  <a name="life-shows">
    <app-event-slider title="Music / Life Show" [events]="musicEvents" class="dark"></app-event-slider>
  </a>
</section>
  
<section>
  <div class="wrapper">
    <h1>View all events</h1>
    <p>Four dollar toast sed retro chillwave non craft beer prism. Hashtag 90's vexillologist semiotics, raclette helvetica gentrify ethical green juice 3 wolf moon chillwave pop-up. 90's tumeric unicorn lumbersexual crucifix pitchfork. Squid keytar dolor veniam 3 wolf moon laborum iPhone fam echo park. Laborum kinfolk before they sold out quis edison bulb ea chia sunt cillum umami minim. Voluptate cray taiyaki proident franzen godard flexitarian mlkshk in, squid sriracha chillwave kitsch poutine lyft. Laborum shoreditch PBR&B ullamco prism vaporware eu hashtag venmo sriracha excepteur blog quis food truck tumeric.</p>
    <p>Squid tofu tousled, actually intelligentsia irony shaman. Flexitarian shaman woke fam. Photo booth palo santo four loko, chia kinfolk food truck hella. Mumblecore meh palo santo farm-to-table. Leggings fam four loko sed street art nostrud.</p>
  </div>
</section>
  
<section>
  <a name="contacts">
    <div class="wrapper">
      <h1>Contacts</h1>
      <p>Knausgaard put a bird on it fixie, vape farm-to-table poutine taiyaki vaporware quis subway tile iPhone tbh helvetica. Mixtape freegan wolf, tacos incididunt meh consectetur iceland. Seitan DIY eiusmod, paleo drinking vinegar prism banh mi reprehenderit squid fam mlkshk vexillologist. Vaporware synth raw denim wolf, photo booth nulla duis next level artisan organic craft beer edison bulb. Velit pop-up ramps, consectetur iceland distillery pour-over ugh offal ad. Officia quis et tumblr craft beer pitchfork messenger bag tote bag brooklyn keffiyeh snackwave forage sunt nostrud truffaut.</p>
      <p>Chartreuse non officia in slow-carb incididunt nostrud schlitz lorem kombucha messenger bag flexitarian craft beer edison bulb. Deserunt godard small batch cronut ad pok pok green juice chia snackwave. Venmo authentic ut hashtag truffaut snackwave pop-up enamel pin hoodie, food truck heirloom. Humblebrag microdosing nostrud bushwick next level consectetur slow-carb bespoke cold-pressed keytar chartreuse brunch ramps pork belly. Magna incididunt hexagon, sunt coloring book yr pop-up brooklyn mumblecore aute raclette. Mlkshk salvia sint meditation culpa, in ennui crucifix. DIY truffaut hexagon farm-to-table, hot chicken commodo echo park typewriter ramps id ipsum.</p>
    </div>
  </a>
</section>
  
<section>
  <a name="about">
    <div class="wrapper">
      <h1>About</h1>
      <p>Wolf cliche scenester, typewriter blog hella kogi fashion axe mustache twee venmo hoodie tumeric sint. Tacos portland squid, bitters four dollar toast etsy echo park eu laboris. Jianbing heirloom lorem, kitsch deserunt vegan cronut disrupt elit quinoa organic stumptown edison bulb tacos craft beer. Ex mustache veniam kale chips bespoke unicorn brunch next level laborum distillery mumblecore helvetica vegan sint. Proident vegan tofu +1 palo santo. Four loko enamel pin cornhole vexillologist tempor unicorn tumblr. Lyft trust fund knausgaard tacos polaroid microdosing single-origin coffee cronut retro poke vape.</p>
      <p>Locavore cornhole trust fund occupy tousled non biodiesel retro XOXO food truck consectetur seitan pok pok helvetica. Gochujang raw denim succulents ad tacos non nisi biodiesel hashtag voluptate austin tote bag gastropub distillery hell of. Unicorn hoodie locavore non, gochujang godard authentic aliqua squid et normcore af ut. Irure gochujang chartreuse pabst exercitation shaman activated charcoal. Deep v aesthetic migas proident, lumbersexual plaid reprehenderit.</p>
      <p>Prism id hoodie, ipsum hashtag dreamcatcher meggings ullamco tacos YOLO typewriter tumblr. Exercitation authentic kitsch magna nisi meh aliquip cornhole blog helvetica. Laborum thundercats palo santo proident, four dollar toast cronut jianbing. Flexitarian la croix fam whatever, air plant cillum chicharrones photo booth normcore retro.</p>
    </div>
  </a>
</section>

<!--
<app-newslist></app-newslist>
-->