@import '~sass/variables';
@import '~sass/mixins';

header {
    h1 {
        font-size: $home-logo-text-size;
        font-family: $font-cinzel;
    }

    p {
        font-size: $home-paragraph-text-size;
    }

    nav {
        & > img {
            display: none;
            height: 6em;
            position: absolute;
            float: left;
            z-index: 1;
            left: .5em;
            top: .5em;
        }
    }
}

section {    
    
    div.wrapper {
        padding: 4em 0 3.4em 0;
    }

    h1 {
        color: $color-gold-shadow;
        font-size: $home-section-header-size;
        font-family: $font-cinzel;
    }

    h2 {
        font-size: $home-event-title-size;
        font-family: $font-cinzel;
    }

    p {
        color: $color-gold-dirty;
        font-size: $home-paragraph-text-size;
    }
}

.logo_background {
    width: 100%;
    //min-height: 500px;
    //height: 500px;
    //background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://storage.googleapis.com/test-domain.goldstage.info/assets/videos/gold-stage-optimized.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    video {
        width: 100vw; 
        height: 50vh;
        height: auto;
        object-fit: cover;
        left: 0px;
        top: 0px;
        z-index: 1;            
    }

    .logo {
        // this thing is hidden for mobile screens with media query
        background: url('http://www.goldstage.fr/static/images/logo2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 500px;

        position: absolute; top: 0; left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }  
}

ul.contact-bar {
    margin-top: 4vw;
    list-style-type: none;
    text-align: right;

    li {
        padding: 0 1vw 0 1vw;
        display: inline-block;
    }
    a {
        height: 3.2rem;
        width: 3.2rem;
    }
    a, svg {
        display: block;
    }
}

