@import '~sass/variables';
@import '~sass/mixins';

section {

    h1 {
        font-size: $section-header-size;
        color: $color-gold-shadow;
    }

    h2 {
        color: $color-gold-dirty
    }

    &.dark h2 {
        color: $color-light;
    }

    &.dark h1 {
        color: $color-gold;
    }

    div.wrapper {
        padding: 4em 0 3.4em 0;
    }

    img {
        margin-left: 10px;
        margin-bottom: 6px;
        float: right;
        max-height: 300px;
        max-width: 300px;
        box-shadow: 5px 5px 5px $color-gold-shadow;
    }

    &.dark img {
        box-shadow: 5px 5px 5px black;
    }

    p {
        font-size: $paragraph-text-size;
        color: $color-gold-dirty;
    }

    &.dark p {
        color: $color-light;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;

        &.active {
            background: $color-gold;
        }
    }

    .event-card {
        position: relative;

        .background {
            width: 100%;
            display: none;

            &.active {
                display: block;
            }
        }

        .dot-bar {
            text-align: center;
            cursor: default;
            position: absolute;
            bottom: 1em;
            width: 100%;
        }

        /* Next & previous buttons */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -1.4em;
            padding: .2em;
            color: $color-gold-dirty;
            font-size: 2em;
            transition: 0.4s ease;
            border-radius: 0 .2em .2em 0;
        }
    
        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: .2em 0 0 .2em;
        }
    
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            color: rgb(253, 230, 100);
            background-color: rgba(78,68,11,0.6);
        }  
    }    
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: .5s;
    animation-name: fade;
    animation-duration: .5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
  }